<div class="blog-page">

  <!-- Hero Section -->
  <div class="hero-section">
    <h1>Our Blog</h1>
    <p>Stay updated with our latest adventures, educational and travel tips!</p>
  </div>

  <!-- Blog Posts -->
  <div class="blog-posts">
    <div class="blog-post" *ngFor="let post of posts">
      <img [src]="post.img" [alt]="post.title">
      <h2>{{post.title}}</h2>
      <!-- <div class="author-date">Posted by {{post.author}} on {{post.date}}</div> -->
      <a routerLink="/blog-detail/{{post.id}}" class="more-button">Read More</a>
    </div>
  </div>
</div>