<!-- <div class="blog-container">
  <h2>Blog / Resource Center</h2>
  <div class="blog-posts">
    <div class="blog-post">
      <div class="post-image">
      </div>
      <div class="post-content">
        <h3>Blog Post Title</h3>
        <p class="post-date">Posted on: Month Day, Year</p>
        <p class="post-excerpt">An excerpt or short description of the blog post or resource...</p>
        <a class="read-more" href="#">Read More</a>
      </div>
    </div>
  </div>
</div> -->
<img class= "blogst" src="assets/images/wipblog.jpg" alt="My Image">