<div class="blog-page">

  <!-- Hero Section -->
  <div class="hero-section">
    <h1>Our Blog</h1>
    <p>Stay updated with our latest adventures, educational and travel tips!</p>
  </div>

  <!-- Blog Posts -->
  <div class="blog-posts">
    <div class="blog-post" *ngFor="let post of posts">
      <img [src]="post.img" [alt]="post.title">
      <h2>{{post.title}}</h2>
      <!-- <div class="author-date">Posted by {{post.author}} on {{post.date}}</div> -->
      <a routerLink="/blog-detail/{{post.id}}" class="more-button">Read More</a>
    </div>
  </div>
  <!-- <div class="sidebar">
    <div class="widget">
        <h2 class="widget-title">Recent Posts</h2>
        <ul class="recent-posts">
            <li><a href="#post1">Blog Post 1</a></li>
            <li><a href="#post2">Blog Post 2</a></li>
            <li><a href="#post3">Blog Post 3</a></li> -->
  <!-- add more as necessary -->
  <!-- </ul>
    </div>
    <div class="widget">
        <h2 class="widget-title">Categories</h2>
        <ul class="categories">
            <li><a href="#category1">Category 1</a></li>
            <li><a href="#category2">Category 2</a></li>
            <li><a href="#category3">Category 3</a></li> -->
  <!-- add more as necessary -->
  <!-- </ul>
    </div> -->
  <!-- add more widgets as necessary -->
  <!-- </div> -->
</div>