<section class="hero">
  <div class="hero-content">
    <h3>Unleash your curiosity and dive into a world of educational & fun experiences</h3>
  </div>
</section>
<div class="about-us-section">
  <div class="about-us-image">
    <img src="assets/images/aboutus11.png" alt="About Us">
  </div>
  <div class="about-us-text">
    <h2>Who are we </h2>
    <p style="text-align: justify;">
      We are a dedicated group of adventure enthusiasts provides educational and fun experiences for school students. We
      believe that the best way to learn is through experience, and we create trips that allow students to explore the
      world and learn about different cultures and perspectives. We are committed to providing engaging, immersive,
      educational, fun and affordable trips for all students
    </p>
    <button routerLink="/about-us" class="learn-more-btn">Learn More</button>
  </div>
  <div class="whatgetimage">
    <img src="assets/images/whatget-removebg.png" alt="what you will get">
  </div>
</div>
<div class="container">
  <div class="box">
    <img src="assets/images/nature.jpg" alt="Page 1" />
    <p class="box-text">Agriculture/Nature Visit</p>
    <a routerLink="/trip-detail/1">
      <p class="button-text">Learn More</p>
    </a>
  </div>
  <div class="box">
    <img src="assets/images/ramoji.jpg" alt="Page 2" />
    <p class="box-text">Ramoji Film City</p>
    <a routerLink="/trip-detail/2">
      <p class="button-text">Learn More</p>
    </a>
  </div>
  <div class="box">
    <img src="assets/images/industrial.jpg" alt="Page 3" />
    <p class="box-text">Industrial Exposure</p>
    <a routerLink="/trip-detail/10">
      <p class="button-text">Learn More</p>
    </a>
  </div>
  <div class="box">
    <img src="assets/images/bmscience.jfif" alt="Page 4" />
    <p class="box-text">BM Science Planatary</p>
    <a routerLink="/trip-detail/4">
      <p class="button-text">Learn More</p>
    </a>
  </div>
  <div class="box">
    <img src="assets/images/stem.png" alt="Page 6" />
    <p class="box-text">Science & Technology</p>
    <a routerLink="/trip-detail/11">
      <p class="button-text">Learn More</p>
    </a>
  </div>
  <div class="box">
    <img src="assets/images/zoo1.jpg" alt="Page 5" />
    <p class="box-text">Nehru Zoological Park</p>
    <a routerLink="/trip-detail/5">
      <p class="button-text">Learn More</p>
    </a>
  </div>

</div>
<div class="more-services-section">
  <h2>Discover More</h2>
  <p>Explore all the services and trips we offer. Start your adventure today!</p>
  <button routerLink="/trips-services" class="more-services-button">See More</button>
</div>
<app-mission-statement></app-mission-statement>