<div class="slideshow-container">
  <div class="slide" *ngFor="let image of images; let i = index">
    <img [src]="image" *ngIf="i === currentImageIndex">
  </div>
  <a class="prev" (click)="previousImage()">&#10094;</a>
  <a class="next" (click)="nextImage()">&#10095;</a>
</div>
<div class="container">

  <div class="box" routerLink="/page1">
    <p>Page 1</p>
  </div>
  <div class="box" routerLink="/page2">
    <p>Page 2</p>
  </div>
  <div class="box" routerLink="/page3">
    <p>Page 3</p>
  </div>
  <div class="box" routerLink="/page4">
    <p>Page 4</p>
  </div>
  <div class="box" routerLink="/page5">
    <p>Page 5</p>
  </div>
  <div class="box" routerLink="/page6">
    <p>Page 6</p>
  </div>

</div>
<div class="more-button">
  <button routerLink="/trips-services">More</button>
</div>