.trip-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  
    .trip-detail-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 40px;
  
      h1 {
        font-size: 2em;
        text-align: center;
        margin-bottom: 20px;
        padding-top: 12%;
      }
  
      img {
        width: 450px;
        //max-width: 650px;
        height: auto;
        object-fit: cover;
       // padding-top: 5%;
      }
    }
  
    .trip-detail-content {
      width: 100%;
      max-width: 800px;
      margin-top: 20px;
  
      h2 {
        font-size: 1.5em;
        margin-top: 20px;
      }
  
      p, ul {
        font-size: 1.1em;
        line-height: 1.5em;
        margin-top: 10px;
        text-align: justify;
        hyphens: auto;
        word-spacing: 1px;
      }
    }
  
    .back-button {
      display: inline-block;
      margin-top: 20px;
      padding: 10px 20px;
      border: none;
      background-color: #f7921e;
      color: #fff;
      text-align: center;
      text-decoration: none;
      font-size: 1em;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #444;
      }
    }
  }
  
  @media only screen and (max-width: 768px) {
    .trip-detail-container {
      //margin: 10px;
  
      .trip-detail-header {
        h1 {
          font-size: 1.5em;
          padding-top: 0%;
        }
        img {
          width: 100%;
          max-width: 650px;
          height: auto;
          object-fit: cover;
         // padding-top: 5%;
        }
      }
  
      .trip-detail-content {
        h2 {
          font-size: 1.2em;
        }
  
        p, ul {
          font-size: 0.9em;
          text-align: justify;
          hyphens: auto;
         word-spacing: 1px;
        }
      }
  
      .back-button {
        padding: 5px 10px;
        font-size: 01.2em;
      }
    }
  }
  