<div class="container">
  <h2>Trips & Services</h2>
  <div class="trip-card" *ngFor="let trip of trips">
      <div class="trip-image">
        <img src="{{trip.url}}" alt="{{trip.alt}}" />
      </div>
    <div class="trip-details">
      <h3>{{trip.title}}</h3>
      <p>{{trip.description}}</p>
      <ul>
        <li>Activities: {{trip.activities}}</li>
        <!-- <li>Group Size: {{trip.groupSize}}</li>
        <li>Duration: {{trip.duration}}</li> -->
        <!-- <li>Age Group: {{trip.ageGroup}}</li> -->
        <li>Target Areas: {{trip.targetAreas}}</li>
      </ul>
      <a [routerLink]="['/trip-detail', trip.id]" class="more-button">Learn More</a>
    </div>
    
  </div>
</div>
<app-mission-statement></app-mission-statement>