<div class="navbar">
  <div class="navbar-brand" style = "margin-right: 0rem;">
    <a href="" class="navst">
      <img style="width: 100%;height: 70px;" src="assets/images/milesunfold.png" alt="">
    </a>
  </div>
  <button class="hamburger-menu" (click)="toggleMenu()">
    <i class="fas fa-bars"></i>
  </button>
  <ul class="nav-links" [ngClass]="{'show-menu': showMenu}">
    <li><a routerLink="/" routerLinkActive="active" (click)="closeMenu()">Homepage</a></li>
    <li><a routerLink="/trips-services" routerLinkActive="active" (click)="closeMenu()">Trips/Services</a></li>
    <li><a routerLink="/blog" routerLinkActive="active" (click)="closeMenu()">Blog/Resource Center</a></li>
    <li><a routerLink="/gallery" routerLinkActive="active" (click)="closeMenu()">Gallery</a></li>
    <li><a routerLink="/faq" routerLinkActive="active" (click)="closeMenu()">FAQ</a></li>
    <li><a routerLink="/about-us" routerLinkActive="active" (click)="closeMenu()">About Us</a></li>
    <li><a routerLink="/contact-us" routerLinkActive="active" (click)="closeMenu()">Contact Us</a></li>
  </ul>
</div>