<div class="footer wf-section">
  <div class="container">
    <div class="footer-row">
      <div class="footer-left">
        <a routerLink="/" class="footer-logo w-inline-block footerst">
          <img src="assets/images/milesunfold.png" alt="">
        </a>
        <p class="text-large footer-text">Let's team-up on social media.</p>
        <ul role="list" class="social-icons-list w-list-unstyled">
          <li class="list-item">
            <a href="https://www.linkedin.com/in/miles-unfold-211969284"
              target="_blank" class="button-circle button-small bg-gray-3 w-inline-block">
              <img
                src="https://global-uploads.webflow.com/61ead40fcee1ea7e99aa2b1f/61ead410cee1ea1a22aa2bb2_linkedin.svg"
                alt="" class="social-icon social-icon-dark"></a>
          </li>
          <li class="list-item"><a href="https://instagram.com/milesunfold?igshid=MzNlNGNkZWQ4Mg==" target="_blank"
              class="button-circle button-small bg-gray-3 w-inline-block">
              <img
                src="https://global-uploads.webflow.com/61ead40fcee1ea7e99aa2b1f/61ead410cee1ea24b4aa2bac_instagram.svg"
                alt="" class="social-icon social-icon-dark"></a>
          </li>
          <li class="list-item"><a href="https://youtube.com/@MilesUnfold" target="_blank"
              class="button-circle button-small bg-gray-3 w-inline-block">
              <img
                src="https://global-uploads.webflow.com/61ead40fcee1ea7e99aa2b1f/61f00073126d1d04c0a1ae50_Untitled%20design%20(76).png"
                alt="" class="social-icon social-icon-dark"></a>
          </li>
        </ul>
      </div>
      <div class="footer-columns-wrapper footer-4-columns-wrapper">
        <div class="footer-menu-column">
          <h6 class="widget-heading footer">Links</h6>
          <ul role="list" class="link-list w-list-unstyled">
            <li class="footer-links">
              <a routerLink="/about-us" class="hover-link">Our team</a>
            </li>
            <li class="list-item-5">
              <a routerLink="/blog" class="hover-link">Blogs</a>
            </li>
            <li class="list-item-6">
              <a routerLink="/faq" class="hover-link">FAQs</a>
            </li>
          </ul>
        </div>
        <div class="footer-menu-column">
          <h6 class="widget-heading footer">Services</h6>
          <ul role="list" class="link-list w-list-unstyled">
            <li class="list-item-8">
              <a routerLink="/trips-services" class="hover-link">Trips & Services</a>
            </li>
            <li class="list-item-7">
              <a routerLink="/contact-us" class="hover-link">Contact us</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-columns-wrapper footer-4-columns-wrapper">
        <div class="footer-menu-column">
          <h6 class="widget-heading footer">Blogs</h6>
          <div class="w-dyn-list">
            <div role="list" class="grid-rows grid-rows-compact w-dyn-items">
              <div role="listitem" class="w-dyn-item">
                <a routerLink="/blog-detail/1" class="blog-post-small hover-link w-inline-block">
                  <img src="assets/images/blog1.jpg" alt="" sizes="12px" class="sidebar-blog-post-image"
                    style="max-width: 18%;">
                  <div>Tips for planning educational trips</div>
                </a>
              </div>
              <div role="listitem" class="w-dyn-item">
                <a routerLink="/blog-detail/2" class="blog-post-small hover-link w-inline-block">
                  <img src="assets/images/blog4.jpg" alt="" sizes="12px" class="sidebar-blog-post-image"
                    style="max-width: 18%;">
                  <div>The Benefits of Educational Trips for Students</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="footer-lower-row">
      <div>© MilesUnfold 2023 | <a routerLink="/privacy-policy">Privacy policy</a>
      </div>
    </div>
  </div>
</div>