.footer {
    padding-top: 16px;
    padding-bottom: 8px;
    background-color: black;
    color: darkorange;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 1248px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: left;
}

.footer-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;

    img {
        display: inline-block;
        max-width: 40%;
        vertical-align: middle;
    }
}

.list-item {
    margin-right: 4px;
    margin-left: 4px;
}

.footer-columns-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    flex: 1.9;
    margin-top: 2%;
}

.footer-menu-column {
    margin-left: 60px;
    margin-right: 24px;
    //  margin-left: 24px;
}

.widget {
    margin-bottom: 8px;
    margin-top: 16px;
}

.footer-lower-row {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}



.social-icons-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: -4px;
    margin-left: -4px;
    padding-left: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.w-list-unstyled {
    padding-left: 0;
    list-style: none;
}

.text-large {
    color: #222525;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;
}

.text-large.footer-text {
    max-width: 294px;
    color: aliceblue;
}

p {
    margin-bottom: 24px;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    line-height: 26px;
}

.button-circle.button-small {
    width: 36px;
    height: 36px;
    padding-top: 3px;
}

.bg-gray-3 {
    background-color: #ecebea;
}

.list-item {
    margin-right: 4px;
    margin-left: 4px;
}

.w-inline-block {
    max-width: 100%;
    display: inherit;
    padding-bottom: 5%;
}

.social-icon {
    width: 16px;
    height: 16px;
}

.footer-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 48px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: baseline;
    text-align: center;
    width: 28%;
    padding-top: 3%;
}

.hover-link {
    //opacity: 0.75;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    color: #222525;
    color: #fff;

    a {
        color: chocolate;
        text-decoration: none;
    }
}

a {
    color: aliceblue;
    text-decoration: none;
    background-color: transparent;

    &:hover {
        color: #f7921e;
      }
} 

.link-list {
    display: -ms-grid;
    display: grid;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 6px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    font-size: medium;
}

@media screen and (max-width: 768px) {
    element {
        width: 100%;
        max-width: 100%;
    }

    .footer-lower-row {
        text-align: center;
    }

    .w-inline-block {
        max-width: 100%;
        display: inline-block;
    }

    .footer-menu-column {
        width: 100%;
        margin-bottom: 4px;
        text-align: center;
        margin-right: 59px;
    }

    .footer-left {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 28px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .footer-row {
        margin-bottom: 24px;
        display: grid;
    }

    .widget-heading.footer {
        margin-bottom: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .footer-columns-wrapper.footer-4-columns-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }

    .widget.footer-menu-column {
        width: 100%;
        text-align: center;
    }

    .widget {
        margin-bottom: 36px;
    }

    .container {
        width: auto;
        max-width: none;
        margin-right: auto;
        margin-left: auto;
        padding-top: 0px;
        padding-right: 12px;
        padding-left: 12px;
    }
}