.contactst {
  width: 100%;
  padding-top: 0px;
  height: 310px;
}

.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;

  h2 {
    margin-bottom: 1.5rem;
    font-weight: bold;
    color: #2c3e50;
  }

  h5 {
    margin-bottom: 1rem;
    font-weight: 600;
    color: #34495e;
    font-size: 31px;
    font-family: cursive;
  }

  a {
    color: #34495e;
    text-decoration: none;
    margin-right: 1rem;

    &:hover {
      color: #2c3e50;
      text-decoration: underline;
    }
  }

  .form-control {
    margin-bottom: 1rem;
    border-radius: 30px;
    border: 1px solid #bdc3c7;
    padding: 0.5rem 1.5rem;
  }

  .btn-primary {
    background-color: #3498db;
    border-color: #3498db;
    border-radius: 30px;
    padding: 0.5rem 1.5rem;
    font-weight: bold;

    &:hover {
      background-color: #2980b9;
      border-color: #2980b9;
    }
  }

  // Social media icons
  i {
    font-size: 1.5rem;
    color: #34495e;

    &:hover {
      color: #2980b9;
    }
  }

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.whatsapp-chat {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.whatsapp-button {
  font-size: 1em;
  padding: 10px 20px;
  color: white;
  background-color: #f7921e; /* WhatsApp color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 5%;

  // @media only screen and (max-width: 600px) {
  //   font-size: 0.8em;
  //   padding: 5px 10px;
  // }
}

.whatsapp-button:hover {
  background-color: #f7921e;
}
.contact-us-image {
  flex: 1;
  padding-right: 2rem;

  img {
    width: 100%;
    height: 85%;
    object-fit: scale-down;
    padding-top: 5%;
  }
}

@media (max-width: 767px) {

  .contactst {
    height: 240px;
  }
  
}