<div style="position: relative; text-align: center;">
  <img class= "contactst" src="assets/images/abc.jpg" alt="My Image">
  <div style="position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%); color: white;">
    <h1>Contact Us</h1>
  </div>
</div>
<div class="container">
  <!-- <h2>Contact Us</h2> -->
  <div class="row">
    <div class="col-md-6" style="
    padding-bottom: 20px;">
      <h5>You can find us at</h5>
      <p style="font-family: auto;padding-bottom: 5%;">
        Phone: +91 9515077185<br />
        Email: vidyasagar16999@gmail.com<br />
        Address: Nalgonda, Telangana, India<br />
      </p>
      <h5>Follow Us</h5>
      <!-- <a href="https://www.facebook.com/yourprofilelink" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a> -->
      <a href="#" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="col-md-6">
      <h5>Send Us a Message</h5>
      <form>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Your Name" />
        </div>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Your Email" />
        </div>
        <div class="form-group">
          <input type="number" class="form-control" placeholder="Your Mobile Number" />
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="4" placeholder="Your Message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>