<footer class="bg-dark text-white py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Important Links</h5>
          <ul class="list-unstyled">
            <li><a class="text-white" href="#">Terms and Conditions</a></li>
            <li><a class="text-white" href="#">Privacy Policy</a></li>
            <li><a class="text-white" href="#">Sitemap</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Newsletter Sign-up</h5>
          <p>Stay informed about news, promotions, or upcoming trips:</p>
          <form>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Enter your email">
            </div>
            <button type="submit" class="btn btn-primary">Subscribe</button>
          </form>
        </div>
        <div class="col-md-4">
          <!-- Add any other content you'd like in this column -->
        </div>
      </div>
    </div>
  </footer>
  