<footer class="footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-4 footer-links text-right">
        <h6>Useful Links</h6>
        <ul>
          <li><a routerLink="/contact-us">Contact us</a></li>
          <li><a routerLink="/faq">FAQ</a></li>
          <li><a routerLink="/terms-and-conditions">Terms & Conditions</a></li>
          <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-sm-4 footer-logo">
        <img src="path-to-your-logo.png" alt="logo">
      </div>
      <div class="col-sm-4 footer-social-links">
        <h6>Follow Us</h6>
        <p>
          <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </p>
      </div>
    </div>
    <div class="footer-copyright text-center">
      <a href="http://www.smu.com/">Smilesunfold.com</a> |
      <a href="/privacy-policy">Privacy Policy</a> |
      © Copyright 2023, SM Inc. |
      <a href="/terms-and-conditions">Terms and Conditions</a>
    </div>
  </div>
</footer>