<div class="privacy-policy">
  <h1>Privacy Policy</h1>

  <p>
    This privacy policy explains how we collect, use, and share your personal information when you visit our website or
    use our services.
  </p>

  <p class="lead">
    We collect the following types of personal information from you:
  </p>

  <ul>
    <li>Contact information: This includes your name, email address, and phone number.</li>
    <li>Institution name: This is the name of the school or organization that you are affiliated with.</li>
  </ul>

  <p class="lead">
    We use your personal information to:
  </p>

  <ul>
    <li>Provide you with the services that you request.</li>
    <li>Improve our services.</li>
    <li>Contact you.</li>
  </ul>

  <p>
    We do not share your personal information with third parties without your consent. However, we may share your
    information with the following third parties:
  </p>

  <ul>
    <li>Our service providers: We may share your information with our service providers who help us to provide our
      services, such as email providers and payment processors.</li>
    <li>Compliance with law: We may share your information with third parties if we are required to do so by law.</li>
  </ul>

  <p class="lead">
    You have the following choices about your personal information:
  </p>

  <ul>
    <li>Opt out of marketing communications: You can opt out of receiving marketing communications from us by clicking
      on the "unsubscribe" link at the bottom of any marketing email that we send you.</li>
    <li>Access and correct your personal information: You can request to access or correct your personal information by
      contacting us at [email protected]
    <li>Delete your personal information: You can request to delete your personal information by contacting us at [email
      protected]
  </ul>

  <p>
    We take steps to protect your personal information from unauthorized access, use, and disclosure. These steps
    include:
  </p>

  <ul>
    <li>Physical security: We store your personal information in secure locations.</li>
    <li>Technical security: We use encryption and other security measures to protect your personal information when it
      is transmitted over the internet.</li>
    <li>Employee training: Our employees are trained on our privacy policies and procedures.</li>
  </ul>

  <p>
    We may update this privacy policy from time to time. The most recent version of the privacy policy will always be
    posted on our website.
  </p>

  <p>
    If you have any questions about this privacy policy, please contact us at:
  </p>

  [email protected]
</div>