<div class="container">
  <h2>About Us</h2>
  <h1 class="m-text-align-center text-align-center">
    <span class="m-font-size-30" m-font-size-set="true" style="text-shadow: rgb(218, 217, 217) 3px 3px 3px;">IT'S OUR
      TEAM</span>
  </h1>
  <h1 class="m-text-align-center text-align-center">
    <span class="m-font-size-30" m-font-size-set="true" style="text-shadow: rgb(218, 217, 217) 3px 3px 3px;">THAT MAKES
      THE DIFFERENCE</span>
  </h1>
  <p>
    Add information about your team, their expertise, and experience here
  </p>
</div>