<div class="about-section">
  <h1 style="margin-top: 2%;">About Us</h1>
</div>
<div class="about-us-section">
  <div class="about-us-image">
    <img src="assets/images/aboutus16.jpg" alt="About Us">
  </div>
  <div class="about-us-text">
    <p>Miles Unfold, where education takes a thrilling leap beyond the classroom. We are an innovative startup with a
      mission to make learning an immersive, hands-on experience for school students by organizing meticulously designed
      trips and excursions.</p>
  </div>
</div>
<div class="about-us-section">
  <div class="about-us-text">
    <p>Born out of a passion for education and exploration, Miles Unfold was founded with the belief that real-world
      experiences significantly enrich students' understanding and comprehension. Our commitment is to bridge the gap
      between textbook knowledge and real-life application, thereby fostering a lifelong love for learning in young
      minds.
    </p>
  </div>
  <div class="about-us-image">
    <img src="assets/images/aboutus13.png" alt="About Us">
  </div>
</div>
<div class="about-us-section">
  <div class="about-us-image">
    <img src="assets/images/aboutus15.avif" alt="About Us">
  </div>
  <div class="about-us-text">
    <p>Our trips are more than just outings; they are an exciting blend of fun and educational components. We
      thoughtfully
      curate itineraries that capture the imagination of students, keeping them engaged and motivated while also
      expanding
      their horizons.</p>
    <!-- <p>Collaboration is at the heart of our approach. We work closely with schools, teachers, and parents to understand
      the unique needs and interests of each student. This collaborative effort allows us to tailor our programs to
      provide the most memorable and impactful experiences.</p> -->
      <p>For more information or to explore collaboration opportunities, feel free to <button routerLink="/contact-us"
        class="learn-more-btn">Contact Us</button></p>
  </div>
  
</div>

<!-- <div class="about-us-section">
  <div class="about-us-image">
    <img src="assets/images/aboutus12.png" alt="About Us">
  </div>
  <div class="about-us-text">
    <p>We're proud of the experiences we create, but we're even more proud of the results: inspired students who see the
      world as an exciting place to learn, explore, and grow. At Miles Unfold, we believe that every journey begins with
      a
      single step. Join us as we step outside the traditional classroom and unfold miles of learning experiences.</p>
    <p>For more information or to explore collaboration opportunities, feel free to <button routerLink="/contact-us"
        class="learn-more-btn">Contact Us</button></p>
  </div>
</div> -->
<h2 style="text-align:center">Our Team</h2>
<div class="row" style="margin: 0%;">
  <div class="column">
    <div class="card">
      <img src="assets/images/photo.jpg" alt="" style="width:100%">
      <div class="container">
        <h2>Vidya Sagar</h2>
        <p class="title">Founder</p>
        <p></p>
        <p>vidyasagar@milesunfold.com</p>
        <!-- <p><button class="button">Contact</button></p> -->
      </div>
    </div>
  </div>
</div>
<app-mission-statement></app-mission-statement>