<div class="about-section">
  <h1>About Us</h1>
</div>
<div style="margin: 5%;
font-size: larger;
font-style: oblique;">
  <p>Miles Unfold, where education takes a thrilling leap beyond the classroom. We are an innovative startup with a
    mission to make learning an immersive, hands-on experience for school students by organizing meticulously designed
    trips and excursions.</p>
  <p>Born out of a passion for education and exploration, Miles Unfold was founded with the belief that real-world
    experiences significantly enrich students' understanding and comprehension. Our commitment is to bridge the gap
    between textbook knowledge and real-life application, thereby fostering a lifelong love for learning in young minds.
  </p>
  <p>Our trips are more than just outings; they are an exciting blend of fun and educational components. We thoughtfully
    curate itineraries that capture the imagination of students, keeping them engaged and motivated while also expanding
    their horizons.</p>
  <p>Collaboration is at the heart of our approach. We work closely with schools, teachers, and parents to understand
    the unique needs and interests of each student. This collaborative effort allows us to tailor our programs to
    provide the most memorable and impactful experiences.</p>
  <p>We're proud of the experiences we create, but we're even more proud of the results: inspired students who see the
    world as an exciting place to learn, explore, and grow. At Miles Unfold, we believe that every journey begins with a
    single step. Join us as we step outside the traditional classroom and unfold miles of learning experiences.</p>
  <p>For more information or to explore collaboration opportunities, feel free to [Contact Us].</p>
</div>
<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="assets/images/photo.jpg" alt="" style="width:100%">
      <div class="container">
        <h2>Vidya Sagar</h2>
        <p class="title">Founder</p>
        <p></p>
        <p>vidyasagar16999@gmail.com</p>
        <!-- <p><button class="button">Contact</button></p> -->
      </div>
    </div>
  </div>

  <!-- <div class="column">
    <div class="card">
      <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div> -->

  <!-- <div class="column">
    <div class="card">
      <img src="/w3images/team3.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div> -->
</div>